body{
    background-color: #DADDDF;
    color: #621295;
    text-align: center;
    margin: 5% 1%;
}

.title{
    
    font-family:'Oleo Script';
    padding: 0.5% 10%;
    font-size: 8rem;
    margin:0;
    text-shadow: 10px black;
}

p{
    font-family:'Shadows Into Light' ;
    font-size: 2rem;
    margin:0 ;
    padding: 0;
}
.dice{
    display: inline-block;
}
footer{
    margin-top: 5%;
    font-family: Shadows Into Light;
    font-size: 1.3rem;
}

img{
    width: 80%;
}

@media (max-width:1199px){
    .title{
        font-size: 6rem ;
    }
    body{
        margin:10% 1%
    }
}

@media (max-width: 904px){
    body{
        margin:10% 1%;

    }
    .title{
        font-size: 5rem;
        padding: 1% 2%;
        margin: 5% 2%;
    }
    script{
        margin-top: 80%;
    }
    p{
        font-size:3rem ;
    }
}

@media (max-width:659px) {
    .title{
        font-size: 4rem;
    }
    body{
        margin:20% 1%;
    }
    
}